.card {
  &:hover {
    .arrow {
      fill: #fff !important;
      stroke: #fff !important;
      transform: rotate(50deg);
    }
  }
}
.primary-btn {
  &:hover {
    .rightArrow {
      fill: #27A8E0;
    }
  }
}
